body {
  background-size: cover;
  background-image: url("../assets/img/backgroundfordisplay2.jpg");
}

  

#container-styling {
  padding-bottom: 75px;
}

.thirdcolumn {
  background-color: rgba(255, 245, 238, .5);
  
}

.secondcolumn {
  background-color: rgba(255, 245, 238, .5);
 
}

.firstcolumns {
  background-color: rgba(255, 245, 238, .5);
 
}

#aladin-lite-div {
  padding-top: 0px;

}

#weather {
  font-size: 32px;
}