body {
  background-size: cover;
  background-image: url("../assets/img/backgroundfordisplay2.jpg");
}

  

#container-styling {
  padding-bottom: 75px;
  padding-top:30px;
  background-color: transparent;
}

#weatherbox {
  height: 50px;
  width: 100px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.thirdcolumn {
  background-color: rgba(255, 245, 238, .5);
  
}

.secondcolumn {
  background-color: rgba(255, 245, 238, .5);
 
}

.firstcolumns {
  background-color: rgba(255, 245, 238, .5);
 
}

#firstCol {
  margin-bottom: 10px;
  margin-right: 10px;
}

#secondCol {
  margin-bottom: 10px;
  margin-right: 10px;
}

#thirdCol {
  padding: 0px !important;
  margin-bottom: 10px;
  margin-right: 10px;
}

#aladin-lite-div {
  padding-top: 0px;
  position: absolute;
  width: 285px;
  height: 600px;
}

/* phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  #aladin-lite-div {
    width: 220px;
    height: 450px;
}

/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {

}

/* desktop */
@media only screen  and (min-width : 1224px) {

}